* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);

}


.form-register {
  width: 500px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 350px;
  border-radius: 4px;
  font-family: 'Calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 13px 0;
  font-size: 16px;
}

.form-register .botons {

  overflow: hidden;

}

.form-register .botons::after {

  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;  

}

.form-register .botons:hover:after {
  height: 100%;
  width: 135%;

  
}


.botonss {
  width: 35%;
  background: #1f53c5;
  border: none;
  padding: 3px;
  color: white;
  margin: 5px 0;
  font-size: 12px;
}

